{%extends 'base_template.html'%}
{%block content%}

<h1>WELCOME TO BOOKFINDER!</h1>
<p><h2>ABOUT BOOKFINDER:</h2></p>
<p>Welcome to Bookfinder, your go-to online book recommender designed for students and book enthusiasts alike.</p> 
<p>With Bookfinder, you can simply ask for book recommendations and get personalized suggestions tailored to your interests and preferences.</p>
<p>Our goal is to offer a seamless and enjoyable user experience through:</p> 

<p>1.<b>User-Friendly Platform:</b><i>We're creating a user-friendly website that makes Bookfinder easily accessible to everyone.</i></p>
<p><i>You can effortlessly enter your book recommendation request, no matter your level of tech-savviness.</i></p> 

<p>2.<b>Curated Book Lists:</b><i>Bookfinder will generate a list of approximately five books that align with your request.</i></p> 
<p><i>We'll also dive into a database, aided by OpenAI plugins, to fetch additional details such as the number of pages, ISBN, publication date, book cover images, ratings, and more.</i></p>

<p>3.<b>Concise Book Details:</b><i>We'll present the recommended books and their essential details in a brief and informative paragraph</i></p>
<p><i>This allows you to quickly assess which book might be your next literary adventure.</i></p>

<p>Discover your next favorite read with ease, all thanks to Bookfinder's intuitive interface and powerful recommendation engine!</p>

{%endblock%}

