h2 {
    font-family: 'Inter', sans-serif;
    font-size: 27px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.about-section {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #D9D9D9;
}

.about-section-left {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    width: 250px;
    height: 250px;
}