<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<!-- comments are missing the {} because jinja will run it -->
<body>
    <div><h1>Home Page</h1>
        <!-- Using jinja the {{var}} to put a variable from the rendertemplate function -->
        <p>Welcome to the efind page {{name}}</p>
        <!-- You can use jinja for if conditions by passing a variable from the rendertemplate function with a boolean value -->
        <!-- You do this with % keyword % and in this case we're using if -->
        <!-- With if conditions it's simply % if var % e.g %if tall % -->
        {% if tall %}
        <p>You are tall</p>
        <!-- else is here too! -->
        {% else %}
        <p>You are short</p>
        <!-- % end if % is used to mark the end of what's reliant on the if condition's result-->
        {% endif %}

        <!-- Jinja supports for loops -->
        <!-- this is done with the % for item in var % keyword e.g & for student in class &-->
        {% for person in people %}
            <!-- You add keys and values as key.value -->
            <p> {{person.name}} is {{person.height}} </p>
        {% endfor %}
    </div>
</body>
</html>