<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Where to find books easily" />
    <meta name="keywords"
        content="where, find books" />
    <meta http-equiv="author"
        content="Patrick Njoroge, Nathan Githinji, Christopher Chege, Roman Njoroge" />
    <meta http-equiv="pragma"
        content="no cache" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <title>BookFinder</title>

</head>
<body style="background-color: #b5b2b2;">
<div class="loader"></div>
    <header>
        <h1>BookFinder</h1>
        <nav>
            <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/about">About</a></li>
            <li><a href="http://127.0.0.1:5000/history">History</a></li>
            </ul>
        </nav>
    </header>          
    <main>
        <!-- Template inheritance -->
        {% block content %}{% endblock %}  
        <br>

    </main>
    <footer>
        <nav class="nothing">
            <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/about">About</a></li>
            <li><a href="http://127.0.0.1:5000/history">History</a></li>
            </ul>
        </nav>
        &copy; 2023 BookFinder.
    </footer>
</body>
</html>
