{%extends "base_template.html"%}
{%block content%}
    <h1>Book Recommendations and Details</h1>
    {%if details["title"]|length == 0%}
    <h2>Suitable Books not Found</h2>
    {%else%}
    <h2>Prompt: {{ details['prompt'] }}</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Book Image</th>   
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Ratings</th>
                <th>Description</th>
                <th>More Info</th>   
        
            </tr>
        </thead>
        <tbody>
            {% for i in range(details['author'] | length) %}
                <tr>
                    <td><img src="{{ details['images'][i] }}" alt="No image"></td>
                    <td>{{ details['title'][i] }}</td>
                    <td>{{ details['author'][i] }}</td>
                    <td>{{ details['isbn'][i] }}</td>
                    <td>{{ details['ratings'][i] }}</td>
                    <td>{{ details['description'][i] }}</td>
                    <td><a href="{{ details['urls'][i] }}">More Info</a></td>
                    <!-- <td>{{ i }}</td>
                    <td>{{ i }}</td>
                    <td>{{ i }}</td>
                    <td>{{ i }}</td>
                    <td>{{ i }}</td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{%endblock%}