{%extends "base_template.html"%}
{%block content%}

    <h1>Book Details</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Ratings</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(details['author'] | length) %}
                <tr>
                    <td>{{ details['title'][i] }}</td>
                    <td>{{ details['author'][i] }}</td>
                    <td>{{ details['isbn'][i] }}</td>
                    <td>{{ details['ratings'][i] }}</td>
                    <td>{{ details['description'][i] }}</td>
                    <!-- <td>{{ i }}</td>
                    <td>{{ i }}</td>
                    <td>{{ i }}</td>
                    <td>{{ i }}</td>
                    <td>{{ i }}</td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}