{% extends "base_template.html" %}
{% block content %}

<h1>Recommendation History</h1>

<!-- Should be changed -->
<h3 style="font-size:20px; display: inline;"><a href="http://127.0.0.1:5000/delhistory">Delete Your History</a></h3>
<br><br>

{% if history|length > 0 %}
<table border="1">
    <thead>
        <tr>
            <th>Book Image</th>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Description</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for item in history %}
            {% for i in range(item.title|length) %}
                <tr>
                    <td>
                        <img src="{{ item.images[i] }}" alt="Book Image"><br>
                    </td>
                    <td>
                        {{ item.title[i] }}<br>
                    </td>
                    <td>
                        {{ item.author[i] }}<br>
                    </td>
                    <td>
                        {{ item.isbn[i] }}<br>
                    </td>
                    <td>
                        {{ item.description[i] }}<br>
                    </td>
                    <td>
                        {{ item.ratings[i] }}<br>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>Empty</h2>
{% endif %}
{% endblock %}
