{% extends 'base_template.html' %}
{% block content %}
    <div class="container p-3" style="background-color: #f7f7f7;">
        <h1 class="text-center">WELCOME TO BOOKFINDER!</h1>

        <div class="about-section">
            <h2 class="text-center">ABOUT BOOKFINDER:</h2>

            <p>Welcome to Bookfinder, your go-to online book recommender designed for students and book enthusiasts alike.</p>
            <p>With Bookfinder, you can simply ask for book recommendations and get personalized suggestions tailored to your interests and preferences.</p>
            <p>Our goal is to offer a seamless and enjoyable user experience through:</p>

            <ul>
                <li>
                    <b>User-Friendly Platform:</b>
                    <p>We're creating a user-friendly website that makes Bookfinder easily accessible to everyone.</p>
                    <p>You can effortlessly enter your book recommendation request, no matter your level of tech-savviness.</p>
                </li>
                <li>
                    <b>Curated Book Lists:</b>
                    <p>Bookfinder will generate a list of approximately five books that align with your request.</p>
                    <p>We'll also dive into a database, aided by OpenAI plugins, to fetch additional details such as the number of pages, ISBN, publication date, book cover images, ratings, and more.</p>
                </li>
                <li>
                    <b>Concise Book Details:</b>
                    <p>We'll present the recommended books and their essential details in a brief and informative paragraph.</p>
                    <p>This allows you to quickly assess which book might be your next literary adventure.</p>
                </li>
            </ul>

            <p>Discover your next favorite read with ease, all thanks to Bookfinder's intuitive interface and powerful recommendation engine!</p>
        </div>
    </div>
{% endblock %}
