.content-page, .settings-page {
    margin-top: 10px;
    padding: 20px;
    min-height: 100vh;
}

.settings-page {
    margin: 0 auto;
    width: 50vw;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.open-library-search {
    width: 50vw;
    margin: 0 auto;
}

.open-library-search-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search-button, .search-text-field {
    padding: 10px;
}

.search-button {
    border-width: 1px 1px 1px 0;
    border-radius: 0 10px 10px 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 27px;
}

.search-results {
    margin-top: 50px;
}

.search-result-with-summary {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

.search-result-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.search-image {
    width: 250px;
    height: 250px;
}

.search-result {
    border: 1px solid;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.linkbox-delete {
    color: red;
}

.linkbox-small {
    border-radius: 5px;
    border: 1px solid;
    margin: 0 10px;
}

.linkbox, .linkbox-delete {
    padding: 0px 20px;
    min-width: 86px;
    min-height: 50px;
    border-radius: 5px;
    border: 1px solid;
}

.linkbox:hover {
    background-color: grey;
}

p {
    font-family: 'Inter', sans-serif;
}

.search-results-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search-results-share {
    display: flex;
    flex-direction: row;
}

.suggestions-row {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.search-text-field {
    width: 50vw;
    border-width: 1px 0 1px 1px;
    border-radius: 10px 0 0 10px;
}

